html, body {
    height: 100%;
    background-color: #4ECDC4;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#root {
    width: 100%;
    max-width: 500px;
    max-height: 100%;
}

#logo {
   max-width: 70%;
}

#pigCanvas {
    margin-bottom: -35%;
}